In [1]:
import pandas as pd

In [15]:
data = pd.Series(['January','Febrary','March','April','May'],
                  index =['First','Second','Third','Fourth','Fifyh'])
display(data)

First     January
Second    Febrary
Third       March
Fourth      April
Fifyh         May
dtype: object

In [17]:
data.loc['First']

'January'

In [23]:
data.loc[['First','Second']]

First     January
Second    Febrary
dtype: object

In [25]:
data.iloc[0]

'January'

In [26]:
data.iloc[[0,2]]

First    January
Third      March
dtype: object

In [84]:
data = pd.Series(list(range(10, 1001)))

In [85]:
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

In [29]:
data = pd.Series(list(range(10, 1001)))

In [39]:
data.iloc[990]

1000

In [4]:
df = pd.DataFrame({'col1':[1,2],'col2':[3,4]})
display(df)

   col1  col2
0     1     3
1     2     4

In [41]:
df

   col1  col2
0     1     3
1     2     4

In [63]:
df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  columns = ['Foo', 'bar', 'Baz'],
                  index = ['Foorbaz', 'Foorbar'])
display(df)

         Foo  bar  Baz
Foorbaz    1    2    3
Foorbar    2    3    4

In [67]:
pd.DataFrame({'Тестовая колонка':[1,5]})

   Тестовая колонка
0                 1
1                 5

In [2]:
pd.read_csv('data_sf.csv')

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [3]:
football = pd.read_csv('data_sf.csv')
football.head()

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [8]:
football.tail()

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [9]:
football.head(2)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11

In [11]:
football.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

In [12]:
football.describe()

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [13]:
football.describe(include=['object'])

                Name Nationality             Club Position
count          12897       12897            12897    12897
unique         12326         156              650       27
top     J. Rodríguez     England  Shonan Bellmare       GK
freq               9        1368               30     1641

In [14]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(football.describe())

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,44.264403,40.321625,50.115143,55.463596,63.109715,63.205629,61.819648,59.430565,63.171978,52.530666,64.285415,61.123052,64.271614,43.971931,53.777933,44.875940,47.166008,50.843374,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,17.781283,16.718481,15.215160,16.692643,15.129988,14.903845,14.858729,8.875832,14.190700,16.975214,11.765467,16.194498,12.550696,18.769749,17.232716,20.188799,19.245882,13.745960,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,6.000000,3.000000,9.000000,5.000000,12.000000,12.000000,15.000000,21.000000,16.000000,2.000000,15.000000,12.000000,17.000000,3.000000,11.000000,3.000000,2.000000,10.000000,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,32.000000,29.000000,40.000000,51.000000,55.000000,55.000000,53.000000,54.000000,55.000000,42.000000,57.000000,54.000000,57.000000,29.000000,41.000000,24.000000,35.000000,42.000000,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,45.000000,39.000000,53.000000,60.000000,66.000000,66.000000,64.000000,59.000000,65.000000,56.000000,65.000000,64.000000,65.000000,47.000000,56.000000,51.000000,52.000000,52.000000,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,58.000000,52.000000,61.000000,65.000000,74.000000,73.000000,72.000000,65.000000,73.000000,65.000000,72.000000,72.000000,73.000000,59.000000,67.000000,62.000000,61.000000,60.000000,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,93.000000,94.000000,93.000000,96.000000,97.000000,96.000000,96.000000,96.000000,96.000000,95.000000,95.000000,96.000000,97.000000,94.000000,95.000000,92.000000,95.000000,94.000000,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [15]:
football.sum()

Unnamed: 0                                                  85185212
Name               L. MessiCristiano RonaldoNeymar JrDe GeaK. De ...
Age                                                           319786
Nationality        ArgentinaPortugalBrazilSpainBelgiumBelgiumCroa...
Club               FC BarcelonaJuventusParis Saint-GermainManches...
Value                                                    27244260000
Wage                                                        96954000
Position           RFSTLWGKRCMLFRCMRSRCBGKSTLCMCBLCMLDMLFSTCAMGKG...
Crossing                                                      607144
Finishing                                                     552976
HeadingAccuracy                                               647462
ShortPassing                                                  722580
Volleys                                                       519685
Dribbling                                                     676599
Curve                                                         570878
FKAccuracy                                                    520028
LongPassing                                                   646335
BallControl                                                   715314
Acceleration                                                  813926
SprintSpeed                                                   815163
Agility                                                       797288
Reactions                                                     766476
Balance                                                       814729
ShotPower                                                     677488
Jumping                                                       829089
Stamina                                                       788304
Strength                                                      828911
LongShots                                                     567106
Aggression                                                    693574
Interceptions                                                 578765
Positioning                                                   608300
Vision                                                        655727
Penalties                                                     599193
Composure                                                     721496
Marking                                                       588823
StandingTackle                                                595670
SlidingTackle                                                 572455
GKDiving                                                      222065
GKHandling                                                    218763
GKKicking                                                     216643
GKPositioning                                                 218607
GKReflexes                                                    223324
dtype: object

In [16]:
football.Age.mean()

24.795378770256647

In [17]:
football.Composure.count()

12897

In [18]:
football.ShortPassing.std()

14.740435689517149

In [19]:
football.Wage.sum()

96954000

In [84]:
football.Value.min()

0

In [21]:
football[football.Age>football.Age.mean()]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12746,12975,Teng Shangkun,27,China PR,Tianjin TEDA FC,20000,1000,GK,10,8,...,17,58,28,10,13,46,56,55,45,53
12749,12978,M. Mansour,26,Saudi Arabia,Al Batin,30000,2000,LB,36,18,...,33,37,45,54,54,10,8,6,13,13
12767,12996,Sun Qibin,26,China PR,Tianjin Quanjian FC,20000,2000,GK,14,7,...,12,30,46,11,10,50,46,51,48,50
12861,13090,Y. Uchimura,33,Japan,Hokkaido Consadole Sapporo,20000,1000,CAM,51,31,...,33,62,45,48,42,13,15,7,15,15
12873,13102,K. Pilkington,44,England,Cambridge United,0,1000,GK,11,12,...,22,56,15,15,13,45,48,44,49,46

In [28]:
football[(football.Age < football.Age.mean())|
        (football.Club == 'FC Barcelona')]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
7,7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS,77,93,...,85,85,62,45,38,27,25,31,33,37
15,15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF,82,84,...,86,84,23,20,20,5,4,4,5,8
16,16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST,75,94,...,90,89,56,36,38,8,10,11,14,11
18,18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK,15,14,...,25,69,25,13,10,87,85,88,85,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [29]:
football[(football.Age < football.Age.mean())&
        (football.Club == 'FC Barcelona')].Wage.mean()

77454.54545454546

In [13]:
football[(football.Wage > football.Wage.mean())].SprintSpeed.mean()

67.56638061585058

In [14]:
football[(football.Wage < football.Wage.mean())].SprintSpeed.mean()

62.41425430560645

In [24]:
football[['Position','Wage']]

      Position    Wage
0           RF  565000
1           ST  405000
2           LW  290000
3           GK  260000
4          RCM  355000
...        ...     ...
12892       CM    1000
12893       ST    1000
12894       ST    1000
12895       RW    1000
12896       CM    1000

[12897 rows x 2 columns]

In [4]:
football[football['Nationality'] == 'Brazil'].sum()

Unnamed: 0                                                   1433045
Name               Neymar JrCasemiroCoutinhoMarceloThiago SilvaEd...
Age                                                            11801
Nationality        BrazilBrazilBrazilBrazilBrazilBrazilBrazilBraz...
Club               Paris Saint-GermainReal MadridFC BarcelonaReal...
Value                                                     2190865000
Wage                                                         7348000
Position           LWCDMLWLBRCBGKCAMLBLMCDMGKLDMCBCBLBLBCDMLDMSTR...
Crossing                                                       21580
Finishing                                                      20356
HeadingAccuracy                                                23634
ShortPassing                                                   25613
Volleys                                                        20179
Dribbling                                                      24199
Curve                                                          21135
FKAccuracy                                                     19956
LongPassing                                                    22946
BallControl                                                    25506
Acceleration                                                   26977
SprintSpeed                                                    27128
Agility                                                        26443
Reactions                                                      28045
Balance                                                        26353
ShotPower                                                      24620
Jumping                                                        27098
Stamina                                                        26709
Strength                                                       28376
LongShots                                                      21606
Aggression                                                     24479
Interceptions                                                  20813
Positioning                                                    21920
Vision                                                         23681
Penalties                                                      22789
Composure                                                      26652
Marking                                                        19857
StandingTackle                                                 20721
SlidingTackle                                                  19892
GKDiving                                                        7498
GKHandling                                                      7221
GKKicking                                                       7323
GKPositioning                                                   7331
GKReflexes                                                      7674
dtype: object

In [7]:
football[(football.HeadingAccuracy > 50)].Age.mean()

25.58771113179944

In [88]:
football[football['Reactions'] == 86]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
9,9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK,13,11,...,11,70,27,12,18,86,92,78,88,89
15,15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF,82,84,...,86,84,23,20,20,5,4,4,5,8
38,38,G. Higuaín,30,Argentina,Milan,57000000,245000,LS,68,92,...,70,86,35,22,18,5,12,7,5,10
47,47,R. Lukaku,25,Belgium,Manchester United,62500000,230000,ST,78,87,...,78,83,30,30,30,8,15,14,7,10
57,57,Ederson,24,Brazil,Manchester City,41500000,125000,GK,20,14,...,17,70,28,15,8,85,80,91,82,87
58,58,S. Mané,26,Senegal,Liverpool,52000000,195000,LM,73,84,...,71,80,42,42,38,10,10,15,7,14
61,61,Roberto Firmino,26,Brazil,Liverpool,53000000,195000,CAM,72,87,...,72,87,60,64,42,8,11,9,6,10
71,71,T. Alderweireld,29,Belgium,Tottenham Hotspur,39000000,150000,RCB,64,45,...,58,81,90,91,86,16,6,14,16,14
75,75,Fernandinho,33,Brazil,Manchester City,18000000,185000,CDM,68,69,...,61,79,85,85,80,12,11,5,13,7
76,76,Iniesta,34,Spain,Vissel Kobe,21500000,21000,LF,77,70,...,71,89,67,57,56,6,13,6,13,7
131,131,M. Mandžukić,32,Croatia,Juventus,25000000,160000,ST,72,84,...,76,80,59,64,64,10,8,5,8,15
142,142,Gabriel Jesus,21,Brazil,Manchester City,41000000,130000,ST,66,84,...,78,82,53,23,19,13,8,6,6,15
149,149,T. Werner,22,Germany,RB Leipzig,34500000,70000,RW,69,87,...,72,74,39,20,19,9,9,8,15,9
337,338,Raúl García,31,Spain,Athletic Club de Bilbao,13000000,30000,CAM,78,79,...,76,83,69,74,63,14,16,14,16,15

In [105]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(football[football['Reactions'] == 96])

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,89,81,87,88,81,76,77,94,89,91,87,96,70,95,95,88,79,93,63,29,95,82,85,95,28,31,23,7,11,15,14,11

In [54]:
football[(football.Composure>0.9*football.Composure.max())&
         (football.Reactions>0.9*football.Reactions.max())].Age.min()

24

In [6]:
football[(football.Age == football.Age.max())].Reactions.mean() - football[(football.Age == football.Age.min())].Reactions.mean()

22.642857142857146

In [55]:
football['Nationality'].value_counts()

England      1368
Germany       919
Spain         671
France        614
Argentina     574
             ...
Rwanda          1
Palestine       1
Nicaragua       1
Bermuda         1
Grenada         1
Name: Nationality, Length: 156, dtype: int64

In [62]:
football[(football.Value >= football.Value.mean())].Nationality.value_counts()

Spain         211
Brazil        130
France        123
Argentina     122
England       113
             ...
Tanzania        1
Bulgaria        1
Georgia         1
Mauritania      1
Cyprus          1
Name: Nationality, Length: 98, dtype: int64

In [8]:
football[(football.GKReflexes == football.GKReflexes.max())& (football.Position == 'GK')].Wage.mean() / football[(football.GKHandling == football.GKHandling.max())& (football.Position == 'GK')].Wage.mean()

2.765957446808511

In [6]:
football[(football.Aggression == football.Aggression.max())].ShotPower.mean() / football[(football.Aggression == football.Aggression.min())].ShotPower.mean()

2.076923076923077

In [9]:
football['Club'].value_counts()

V-Varen Nagasaki     30
Shonan Bellmare      30
Vissel Kobe          29
FC Emmen             29
De Graafschap        29
                     ..
Dijon FCO             8
GD Chaves             7
Dinamo Zagreb         7
Vitória Guimarães     7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [3]:
football['Position'].value_counts(normalize=True)*100

GK     12.723889
ST     11.723657
CB     10.878499
CM      8.273242
LB      7.769249
RB      7.350547
RM      5.939366
LM      5.644724
CDM     5.357835
CAM     4.908118
RCB     3.241064
LCB     3.171280
LW      1.876405
RCM     1.860898
RW      1.837637
LCM     1.806622
LDM     1.147554
RDM     1.070016
LS      0.938203
RS      0.883926
RWB     0.542762
LWB     0.465224
CF      0.395441
LF      0.062030
RF      0.046522
LAM     0.046522
RAM     0.038769
Name: Position, dtype: float64

In [6]:
small_football = football[football.columns[0:7]].head(25)
s = small_football['Wage'].value_counts(bins=4)
display(s)

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

In [8]:
s.index

IntervalIndex([(211750.0, 329500.0], (93528.999, 211750.0], (329500.0, 447250.0], (447250.0, 565000.0]],
              closed='right',
              dtype='interval[float64]')

In [9]:
s.index[3]

Interval(447250.0, 565000.0, closed='right')

In [10]:
s.index[3].left

447250.0

In [11]:
s.index[3].right

565000.0

In [13]:
small_football['Wage'] > s.index[3].left

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
Name: Wage, dtype: bool

In [4]:
football['FKAccuracy'].value_counts(bins=5)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [13]:
football['Position'].nunique()

27

In [15]:
len(football['Position'].unique())

27

In [5]:
len(football['Position'].value_counts())

27

In [23]:
football[football.Nationality == 'Spain'].Wage.value_counts(bins=4)/ football[(football.Nationality == 'Spain')].Name.value_counts().sum()* 100

(620.999, 95750.0]      97.019374
(95750.0, 190500.0]      1.639344
(190500.0, 285250.0]     0.894188
(285250.0, 380000.0]     0.447094
Name: Wage, dtype: float64

In [5]:
football[(football.Club == 'Manchester United')].Nationality.nunique()

13

In [14]:
football[(football.Nationality == 'Brazil')& (football.Club == 'Juventus')].Name.unique()

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

In [4]:
football[football['Age'] >= 35].Club.value_counts()

Júbilo Iwata                           4
Club Atlético Huracán                  4
Chongqing Dangdai Lifan FC SWM Team    4
San Martín de San Juan                 4
Hokkaido Consadole Sapporo             4
                                      ..
Cádiz CF                               1
Scunthorpe United                      1
Club Necaxa                            1
Al Nassr                               1
Frosinone                              1
Name: Club, Length: 296, dtype: int64

In [9]:
football[football['Nationality'] == 'Argentina'].Age.value_counts(bins=4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [55]:
football[(football.Nationality == 'Spain')& (football.Age == 21)].Age.value_counts() *100 / football[(football.Nationality == 'Spain')].Age.value_counts().sum()

21    11.773472
Name: Age, dtype: float64

In [65]:
football.groupby(['Position']).groups

{'CAM': Int64Index([   17,    31,    61,    66,    74,    80,    96,   101,   148,
               177,
             ...
             12648, 12701, 12774, 12795, 12804, 12814, 12831, 12835, 12860,
             12861],
            dtype='int64', length=633),
 'CB': Int64Index([   12,    42,    73,    89,   102,   104,   107,   115,   161,
               167,
             ...
             12788, 12803, 12807, 12818, 12819, 12824, 12826, 12855, 12858,
             12869],
            dtype='int64', length=1403),
 'CDM': Int64Index([   20,    27,    72,    75,   118,   127,   133,   165,   174,
               180,
             ...
             12640, 12669, 12727, 12764, 12780, 12784, 12832, 12863, 12872,
             12882],
            dtype='int64', length=691),
 'CF': Int64Index([  216,   265,   283,   733,   735,  1329,  2186,  2766,  3144,
              3360,  3813,  4237,  4455,  4592,  4664,  5956,  6038,  6209,
              6217,  6256,  6289,  6416,  7151,  8094,  8290,  8345,  8568,
              8756,  8849,  9220,  9661,  9802, 10092, 10114, 10348, 10460,
             10522, 10548, 10889, 10991, 11040, 11055, 11157, 11400, 11472,
             11564, 11862, 12407, 12434, 12497, 12745],
            dtype='int64'),
 'CM': Int64Index([   67,    78,   120,   130,   144,   145,   150,   151,   163,
               183,
             ...
             12874, 12876, 12878, 12880, 12885, 12886, 12887, 12889, 12892,
             12896],
            dtype='int64', length=1067),
 'GK': Int64Index([    3,     9,    18,    19,    22,    37,    40,    41,    46,
                57,
             ...
             12838, 12840, 12849, 12851, 12862, 12868, 12870, 12873, 12884,
             12888],
            dtype='int64', length=1641),
 'LAM': Int64Index([28, 855, 1973, 2243, 2633, 4463], dtype='int64'),
 'LB': Int64Index([   35,    49,    64,    85,   106,   112,   171,   248,   300,
               310,
             ...
             12749, 12754, 12755, 12758, 12771, 12773, 12779, 12844, 12865,
             12881],
            dtype='int64', length=1002),
 'LCB': Int64Index([   24,    34,    44,    51,    59,    77,    88,   113,   176,
               195,
             ...
             10842, 10988, 11022, 11047, 11467, 11883, 11992, 12000, 12046,
             12204],
            dtype='int64', length=409),
 'LCM': Int64Index([   11,    13,    52,    63,   114,   117,   134,   157,   190,
               194,
             ...
             11074, 11134, 11266, 11391, 11495, 11707, 12165, 12263, 12548,
             12875],
            dtype='int64', length=233),
 'LDM': Int64Index([   14,    91,   119,   234,   257,   258,   289,   332,   376,
               381,
             ...
             10378, 10514, 10958, 11457, 11689, 11690, 11912, 12082, 12444,
             12857],
            dtype='int64', length=148),
 'LF': Int64Index([5, 15, 76, 797, 1239, 4281, 6811, 7980], dtype='int64'),
 'LM': Int64Index([   33,    58,    65,    68,    86,    94,    97,   103,   123,
               146,
             ...
             12614, 12620, 12664, 12688, 12711, 12720, 12809, 12811, 12837,
             12845],
            dtype='int64', length=728),
 'LS': Int64Index([   21,    38,   100,   140,   155,   200,   217,   240,   241,
               246,
             ...
              9782,  9789,  9790,  9965, 10255, 10257, 10454, 10896, 10989,
             11537],
            dtype='int64', length=121),
 'LW': Int64Index([    2,    29,    30,    32,    55,   116,   231,   247,   333,
               363,
             ...
             12288, 12359, 12362, 12370, 12401, 12423, 12436, 12594, 12633,
             12732],
            dtype='int64', length=242),
 'LWB': Int64Index([  368,   379,   487,   686,   832,   927,  1166,  1185,  1249,
              1573,  2365,  2487,  2626,  2928,  3315,  3358,  3531,  3589,
              3651,  4002,  4075,  4801,  5465,  5591,  5732,  5808,  6051,
              6149,  6666,  6806,  6815,  7085,  7242,  7655,  7794,  7916,
              8254,  8372,  8452,  8577,  8923,  9075,  9152,  9532,  9709,
              9788,  9873,  9991, 10379, 10543, 10615, 10887, 10921, 11065,
             11083, 11090, 11574, 11647, 12102, 12763],
            dtype='int64'),
 'RAM': Int64Index([152, 906, 2163, 3908, 5945], dtype='int64'),
 'RB': Int64Index([   69,   181,   235,   243,   244,   250,   273,   274,   316,
               318,
             ...
             12695, 12714, 12725, 12738, 12798, 12822, 12871, 12877, 12883,
             12891],
            dtype='int64', length=948),
 'RCB': Int64Index([    8,    39,    54,    62,    70,    71,    95,   108,   110,
               111,
             ...
             10960, 10965, 11103, 11106, 11140, 11145, 11468, 11486, 11825,
             12151],
            dtype='int64', length=418),
 'RCM': Int64Index([    4,     6,    53,    82,    83,    90,    99,   158,   197,
               206,
             ...
             11354, 11428, 11589, 11760, 11764, 11852, 12176, 12218, 12268,
             12571],
            dtype='int64', length=240),
 'RDM': Int64Index([   45,   129,   170,   186,   220,   302,   516,   526,   570,
               660,
             ...
              9881,  9939, 10434, 10504, 10526, 10581, 10719, 10779, 11960,
             12213],
            dtype='int64', length=138),
 'RF': Int64Index([0, 50, 1966, 4320, 4430, 4986], dtype='int64'),
 'RM': Int64Index([   25,    26,   121,   164,   198,   202,   214,   251,   275,
               276,
             ...
             12683, 12704, 12709, 12712, 12733, 12734, 12762, 12775, 12812,
             12866],
            dtype='int64', length=766),
 'RS': Int64Index([    7,   109,   137,   252,   280,   288,   304,   372,   446,
               479,
             ...
              9267,  9360, 10031, 10451, 10688, 11292, 11294, 11627, 11900,
             12705],
            dtype='int64', length=114),
 'RW': Int64Index([   56,    60,    79,    84,    93,   141,   143,   149,   153,
               162,
             ...
             12337, 12421, 12447, 12490, 12611, 12623, 12660, 12702, 12782,
             12895],
            dtype='int64', length=237),
 'RWB': Int64Index([  307,   330,   407,   470,   821,  1028,  1717,  1796,  1833,
              1961,  2457,  2994,  3323,  3352,  3396,  4146,  4194,  4742,
              4745,  4781,  4810,  4919,  5029,  5268,  5509,  5695,  5704,
              5899,  6708,  6842,  6977,  6993,  7229,  7288,  7473,  7585,
              7734,  7963,  7994,  8284,  8433,  8489,  8666,  8673,  8741,
              9191,  9204,  9313,  9455, 10046, 10047, 10369, 10509, 10572,
             10672, 10722, 10769, 11273, 11277, 11603, 11629, 11767, 11794,
             11826, 12432, 12531, 12565, 12572, 12808, 12853],
            dtype='int64'),
 'ST': Int64Index([    1,    10,    16,    23,    36,    43,    47,    48,    87,
                98,
             ...
             12787, 12823, 12830, 12833, 12856, 12867, 12879, 12890, 12893,
             12894],
            dtype='int64', length=1512)}

In [67]:
grouped_football = football.groupby(['Position']).sum()
display(grouped_football)

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
Position,,,,,,,,,,,,,,,,,,,,,
CAM,4047426,15216,1875705000,5500000,36066,36014,30115,41397,33736,41674,...,35577,38566,25147,25701,24727,6536,6644,6759,6655,6576
CB,9871798,34407,1853715000,7476000,53059,40278,86888,74376,43428,56968,...,55864,75948,86113,90303,86960,14606,14651,14684,14898,14722
CDM,4362394,17271,1146300000,4921000,34679,29548,38651,45501,28742,39869,...,33889,40533,42316,44081,42176,7322,7280,7311,7242,7231
CF,389107,1170,94280000,248000,2627,3148,2620,3081,2839,3349,...,2948,2948,1540,1336,1260,488,475,494,522,525
CM,8666017,24655,1725835000,6194000,55663,50909,53911,70062,48970,64626,...,53456,61422,56303,58933,56643,11096,11091,11080,11198,11103
GK,12004641,42188,2465605000,8784000,23233,19304,23445,43979,19829,22228,...,32217,71723,24590,23112,22998,104190,100570,98548,100341,105337
LAM,12686,168,79475000,366000,426,400,311,423,402,436,...,412,420,197,218,174,71,72,59,58,70
LB,6533552,24958,1431890000,6096000,61171,38486,54216,59167,37552,59681,...,44692,55921,60430,63815,62934,10666,10279,10473,10563,10616
LCB,1837760,11049,1078335000,3989000,17525,12731,27077,23863,13237,18743,...,17071,24631,26787,27840,26993,4342,4422,4268,4384,4277
LCM,1107908,6102,1006115000,3145000,13495,12480,12509,16101,11708,15014,...,12750,14759,13378,13750,12822,2493,2458,2390,2439,2423
LDM,672621,3983,498680000,1516000,8225,7219,8300,10163,6773,9227,...,7820,9285,9076,9425,8786,1562,1557,1577,1625,1593
LF,21760,223,218900000,601000,546,570,457,587,546,628,...,542,593,325,262,260,78,97,76,90,81
LM,4736853,17570,1795375000,5440000,44054,41461,34327,45233,37115,48181,...,40066,42020,29161,27934,26517,7550,7618,7509,7536,7604
LS,536673,3230,707660000,1866000,6147,8277,7737,7321,7456,7968,...,7744,7762,3945,3341,3056,1281,1273,1271,1263,1277
LW,1596722,5615,871950000,2945000,14368,14523,11646,14742,12793,16334,...,13611,14085,8460,8174,7703,2520,2453,2554,2479,2528
LWB,396016,1493,115880000,347000,3712,2428,3196,3589,2349,3592,...,2685,3413,3618,3751,3679,639,678,582,596,640
RAM,13503,132,41725000,59000,337,318,261,351,300,373,...,299,323,181,218,179,60,53,54,45,60
RB,6179705,23646,1183995000,5034000,56785,35949,51671,56231,35433,55869,...,41311,52709,57635,60367,59346,9954,10180,9908,9837,9844
RCB,1883509,11281,1257785000,4711000,17277,13412,27806,24150,13982,18689,...,17629,24994,27528,28468,27361,4417,4327,4464,4379,4418
RCM,1186794,6271,1012225000,3241000,14032,12803,13068,16466,12299,15366,...,12914,15368,13938,14540,13624,2563,2572,2503,2581,2561
RDM,599582,3759,371595000,1557000,7620,6913,8015,9495,6570,8444,...,7255,8804,8682,8947,8454,1439,1466,1533,1507,1507
RF,16306,179,158195000,714000,410,434,313,430,395,449,...,389,432,220,219,204,56,73,60,73,52
RM,5097570,18520,1638270000,5098000,45894,43361,36561,47106,38996,50244,...,41677,43763,30724,29157,27831,8002,8147,8042,8037,8131
RS,535436,3037,415625000,1537000,5576,7700,7185,6796,6736,7306,...,7256,7021,3665,3243,2828,1239,1327,1235,1205,1221
RW,1555981,5492,828490000,3276000,14073,14400,11372,14551,12646,15976,...,13352,13795,8526,7629,7254,2480,2485,2480,2434,2442
RWB,513213,1695,108890000,420000,4186,2865,3515,4148,2693,4185,...,3116,3833,4114,4257,4148,723,752,768,716,692
ST,10809679,36476,3261765000,11873000,65958,97045,92289,83271,82160,91180,...,92651,86425,42224,36649,33538,15692,15763,15961,15904,15793

In [69]:
grouped_football = football.groupby(['Position'])['Wage'].sum()
display(grouped_football)

Position
CAM     5500000
CB      7476000
CDM     4921000
CF       248000
CM      6194000
GK      8784000
LAM      366000
LB      6096000
LCB     3989000
LCM     3145000
LDM     1516000
LF       601000
LM      5440000
LS      1866000
LW      2945000
LWB      347000
RAM       59000
RB      5034000
RCB     4711000
RCM     3241000
RDM     1557000
RF       714000
RM      5098000
RS      1537000
RW      3276000
RWB      420000
ST     11873000
Name: Wage, dtype: int64

In [4]:
grouped_football = football.groupby(['Position'])['Wage'].sum().sort_values(ascending=False)
print(grouped_football.head(8))

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
Name: Wage, dtype: int64

In [7]:
football.groupby(['Position'])[['Wage','Value']].mean()

                   Wage         Value
Position
CAM         8688.783570  2.963199e+06
CB          5328.581611  1.321251e+06
CDM         7121.562952  1.658900e+06
CF          4862.745098  1.848627e+06
CM          5805.060918  1.617465e+06
GK          5352.833638  1.502502e+06
LAM        61000.000000  1.324583e+07
LB          6083.832335  1.429032e+06
LCB         9753.056235  2.636516e+06
LCM        13497.854077  4.318090e+06
LDM        10243.243243  3.369459e+06
LF         75125.000000  2.736250e+07
LM          7472.527473  2.466174e+06
LS         15421.487603  5.848430e+06
LW         12169.421488  3.603099e+06
LWB         5783.333333  1.931333e+06
RAM        11800.000000  8.345000e+06
RB          5310.126582  1.248940e+06
RCB        11270.334928  3.009055e+06
RCM        13504.166667  4.217604e+06
RDM        11282.608696  2.692717e+06
RF        119000.000000  2.636583e+07
RM          6655.352480  2.138734e+06
RS         13482.456140  3.645833e+06
RW         13822.784810  3.495738e+06
RWB         6000.000000  1.555571e+06
ST          7852.513228  2.157252e+06

In [4]:
football.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'],ascending=False).head(10)

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06

In [25]:
football.groupby(['Club'])[['Wage','Value']].nunique()

                       Wage  Value
Club
 SSV Jahn Regensburg      7     17
1. FC Heidenheim 1846     8     18
1. FC Kaiserslautern      3     16
1. FC Köln                8     10
1. FC Magdeburg           8     18
...                     ...    ...
Zagłębie Sosnowiec        2     18
Çaykur Rizespor          11     21
Örebro SK                 2     22
Östersunds FK             5     17
Śląsk Wrocław             4     21

[650 rows x 2 columns]

In [10]:
football.groupby(['Club'])['Name'].count()

Club
 SSV Jahn Regensburg     24
1. FC Heidenheim 1846    20
1. FC Kaiserslautern     23
1. FC Köln               10
1. FC Magdeburg          21
                         ..
Zagłębie Sosnowiec       25
Çaykur Rizespor          22
Örebro SK                26
Östersunds FK            20
Śląsk Wrocław            24
Name: Name, Length: 650, dtype: int64

In [49]:
football.groupby(['Club'])['Wage'].agg(['mean','median'])

                              mean  median
Club
 SSV Jahn Regensburg   3750.000000    3500
1. FC Heidenheim 1846  3800.000000    3000
1. FC Kaiserslautern   1434.782609    1000
1. FC Köln             9200.000000    4000
1. FC Magdeburg        4000.000000    4000
...                            ...     ...
Zagłębie Sosnowiec     1080.000000    1000
Çaykur Rizespor        5363.636364    4500
Örebro SK              1384.615385    1000
Östersunds FK          1950.000000    1000
Śląsk Wrocław          2083.333333    2000

[650 rows x 2 columns]

In [6]:
group=football.groupby(['Club'])['Wage'].agg(['mean','median'])
s=len(group[group['mean']==group['median']])
print(s)

52

In [39]:
group=football.groupby(['Club'])['Wage'].agg(['mean','median'])
s=group[group['mean']==group['median']].max()
print(s)

mean      13000.0
median    13000.0
dtype: float64

In [41]:
group=football.groupby(['Club'])['Wage'].agg(['mean','median'])
s=group[group['mean']==group['median']].idxmax()
print(s)

mean      Cruzeiro
median    Cruzeiro
dtype: object

In [34]:
football.groupby(['Club'])['Wage'].max()

Club
 SSV Jahn Regensburg      8000
1. FC Heidenheim 1846    14000
1. FC Kaiserslautern      3000
1. FC Köln               26000
1. FC Magdeburg           8000
                         ...
Zagłębie Sosnowiec        2000
Çaykur Rizespor          13000
Örebro SK                 2000
Östersunds FK             8000
Śląsk Wrocław             4000
Name: Wage, Length: 650, dtype: int64

In [5]:
ch=football.groupby(['Club'])['Wage'].sum()
hc=ch['Chelsea']
print(hc)

2035000

In [16]:
ar=football.groupby(['Nationality','Age'])['Wage'].max()
gen=ar['Argentina',20]
print(gen)

54000

In [18]:
ar=football.groupby(['Nationality','Age'])['Wage'].max()
gen=ar['Argentina',30]
print(gen)

300000

In [20]:
ar=football.groupby(['Nationality','Age'])['Wage'].min()
gen=ar['Argentina',30]
print(gen)

1000

In [16]:
#1й способ 
#football.groupby([(football.Nationality == 'Argentina') & (football.Club == 'FC Barcelona')])[['Balance','Strength']].max()

#2й способ
#football[(football.Nationality == 'Argentina') & (football.Club == 'FC Barcelona')][['Balance','Strength']].max()


#3й способ
st=football.groupby(['Nationality','Club'])['Strength','Balance'].max()
mt=st.loc[('Argentina','FC Barcelona'),:]
print(mt)

Strength    59
Balance     95
Name: (Argentina, FC Barcelona), dtype: int64

<ipython-input-16-4e3cc70db992>:19: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  st=football.groupby(['Nationality','Club'])['Strength','Balance'].max()

In [29]:
df2 = football.pivot_table(columns = 'Position', index = 'Club', values = 'Wage', aggfunc = 'max')
#print(df2)
display(df2)

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,NaN,5000.0,5000.0,NaN,4000.0,5000.0,NaN,6000.0,NaN,NaN,...,4000.0,8000.0,NaN,5000.0,NaN,NaN,NaN,NaN,NaN,3000.0
1. FC Heidenheim 1846,5000.0,7000.0,NaN,NaN,1000.0,4000.0,NaN,6000.0,6000.0,NaN,...,6000.0,3000.0,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,4000.0
1. FC Kaiserslautern,NaN,1000.0,1000.0,NaN,NaN,1000.0,NaN,2000.0,2000.0,NaN,...,2000.0,NaN,NaN,2000.0,NaN,2000.0,2000.0,NaN,NaN,1000.0
1. FC Köln,NaN,1000.0,10000.0,NaN,3000.0,25000.0,NaN,NaN,NaN,NaN,...,5000.0,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN,NaN
1. FC Magdeburg,NaN,7000.0,NaN,4000.0,NaN,6000.0,NaN,2000.0,5000.0,4000.0,...,NaN,3000.0,3000.0,NaN,NaN,5000.0,8000.0,4000.0,NaN,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,2000.0,1000.0,1000.0,NaN,NaN,1000.0,NaN,1000.0,1000.0,NaN,...,1000.0,1000.0,NaN,1000.0,NaN,1000.0,NaN,NaN,NaN,2000.0
Çaykur Rizespor,11000.0,11000.0,13000.0,NaN,NaN,3000.0,NaN,7000.0,4000.0,NaN,...,6000.0,NaN,NaN,10000.0,NaN,12000.0,NaN,NaN,NaN,2000.0
Örebro SK,NaN,2000.0,NaN,NaN,1000.0,2000.0,NaN,NaN,2000.0,2000.0,...,NaN,2000.0,2000.0,NaN,NaN,NaN,NaN,2000.0,1000.0,2000.0
Östersunds FK,1000.0,1000.0,NaN,3000.0,8000.0,1000.0,NaN,2000.0,3000.0,5000.0,...,1000.0,1000.0,NaN,NaN,NaN,2000.0,NaN,1000.0,NaN,1000.0
Śląsk Wrocław,NaN,1000.0,3000.0,NaN,1000.0,2000.0,NaN,3000.0,2000.0,NaN,...,2000.0,4000.0,NaN,3000.0,NaN,3000.0,4000.0,NaN,NaN,1000.0

In [6]:
df2.loc['Manchester City']['GK']

125000.0

In [42]:
pivot = football.loc[football['Position'].isin(['GK'])].pivot_table(values=['Name'],
index=['Club'],
columns=['Position'],
aggfunc='count',
margins=True,
fill_value=0)
display(pivot)


pivot = football.pivot_table(index=['Position'],
                             columns=['Club'],
                             aggfunc='count',
                             fill_value=0)
round(pivot.loc['GK'].mean(),3)

                       Name
Position                 GK   All
Club
 SSV Jahn Regensburg      3     3
1. FC Heidenheim 1846     2     2
1. FC Kaiserslautern      3     3
1. FC Köln                3     3
1. FC Magdeburg           3     3
...                     ...   ...
Çaykur Rizespor           3     3
Örebro SK                 3     3
Östersunds FK             3     3
Śląsk Wrocław             3     3
All                    1641  1641

[646 rows x 2 columns]

2.525

In [46]:
pivot = football.pivot_table(index=['Position'],
                             columns=['Club'],
                             aggfunc='count',
                             fill_value=0)
round(pivot.loc['GK'].mean(),3)

2.525

In [8]:
pivot = football.pivot_table(values=['Name'], index=['Position'], columns=['Club'], aggfunc='count', fill_value=0)
display(pivot.loc['CM'].value_counts())

1    211
2    149
0    136
3     89
4     39
5     21
6      5
Name: CM, dtype: int64

In [39]:
df2 = football.pivot_table(columns = 'Nationality', index = 'Club', values = 'Wage', aggfunc = 'max', fill_value=0)
df2.loc['AS Monaco']['Russia']

61000

In [4]:
df2 = football.pivot_table(columns = 'Position', index = 'Club', values = 'SprintSpeed', aggfunc = 'mean', fill_value=0)
display(df2.max().sort_values(ascending=False).head(3))

Position
RS    94.0
RM    94.0
LM    94.0
dtype: float64

In [12]:
df2 = football.pivot_table(columns = 'Club', index = 'Position', values = 'SprintSpeed', aggfunc = 'mean', fill_value=0)
display(df2.loc['ST'].sort_values(ascending=False).head(3))

Club
Vitória      91.0
Sydney FC    88.0
CD Lugo      87.0
Name: ST, dtype: float64